#Rename this file to .env in your working project folder
MODE=SIM | REAL
DEFAULT_SIM_SOL=1000.67
WALLET_ENCRYPTION=None
CUSTOM_STRATEGIES_PATH=Examples/MyStrategies
PAYER_HASH=<your wallet key>
HTTP_RPC_URI=<your rpc node uri>
WSS_RPC_URI=<your wss rpc node uri>
JITO_URL=https://slc.mainnet.block-engine.jito.wtf/api/v1/bundles
JITO_TIP_ADDRESS=3AVi9Tg9Uo68tJfuvoKvqKNWKkC5wPdSSdeBnizKZ6jT
TX_SUBS_WITH_GEYSER=False
GEYSER_WSS=wss://atlas-mainnet.helius-rpc.com/?api-key=<your key>
BINANCE_API_KEY=<your key>
BINANCE_API_SECRET=<your key>
X_CONSUMER_KEY=<your key>
X_CONSUMER_SECRET=<your key>
X_BEARER_TOKEN=<your key>
DISCORD_BOT_TOKEN=<your key>
DISCORD_PUBLIC_KEY=<your key>
DISCORD_CHANNEL_NAMES=['token-launches', 'just-a-test']
IFTTT_WEBHOOK_NAME=ifttt-webhook
IFTTT_WEBHOOK_PORT=5000
ANTHROPIC_API_KEY=<your key>
MODEL="claude-3-5-sonnet-20241022"
RPC_RATE_LIMIT=50
AUTO_BUY_IN_SOL=.001
DEFAULT_SLIPPAGE=50
DEFAULT_PRIORITY_FEE=.003 